In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
data=pd.read_csv('/kaggle/input/marketing-strategy-personalised-offer/train_data.csv')
x_train = data.drop(['Offer Accepted'],axis=1)
y_train = data['Offer Accepted'].copy()

In [2]:
x_test=pd.read_csv('/kaggle/input/marketing-strategy-personalised-offer/test_data.csv')

In [3]:
#encoding training results
y_train = y_train.replace(to_replace = ['Yes','No'],value = [1,0])

In [4]:
#dropping car column as it is mostly null
x_train = x_train.drop(['car'],axis=1)
x_test = x_test.drop(['car'],axis=1)

In [5]:
#imputing missing data using most frequent as it is survey data
from sklearn.impute import SimpleImputer
imputer =  SimpleImputer(missing_values=np.NaN, strategy='most_frequent')

imputer = imputer.fit(x_train)
x_train_imp = imputer.transform(x_train)
x_train = pd.DataFrame(x_train_imp, columns=x_train.columns)

In [6]:
imputer = imputer.fit(x_test)
x_test_imp = imputer.transform(x_test)
x_test = pd.DataFrame(x_test_imp, columns=x_test.columns)

In [7]:
#replacing '1' and '0' with the numbers 1 and 0 for some variables
x_train['travelled_more_than_15mins_for_offer'] = pd.to_numeric(x_train['travelled_more_than_15mins_for_offer'])
x_train['Prefer western over chinese'] = pd.to_numeric(x_train['Prefer western over chinese'])
x_train['travelled_more_than_25mins_for_offer'] = pd.to_numeric(x_train['travelled_more_than_25mins_for_offer'])
x_train['travelled_more_than_5mins_for_offer'] = pd.to_numeric(x_train['travelled_more_than_5mins_for_offer'])
x_train['restuarant_same_direction_house'] = pd.to_numeric(x_train['restuarant_same_direction_house'])
x_train['Cooks regularly'] = pd.to_numeric(x_train['Cooks regularly'])
x_train['is foodie'] = pd.to_numeric(x_train['is foodie'])
x_train['restuarant_opposite_direction_house'] = pd.to_numeric(x_train['restuarant_opposite_direction_house'])
x_train['has Children'] = pd.to_numeric(x_train['has Children'])
x_train['visit restaurant with rating (avg)'] = pd.to_numeric(x_train['visit restaurant with rating (avg)'])
x_train['temperature'] = pd.to_numeric(x_train['temperature'])
x_train['Travel Time'] = pd.to_numeric(x_train['Travel Time'])
x_train['Prefer home food'] = pd.to_numeric(x_train['Prefer home food'])

In [8]:
#replacing '1' and '0' with the numbers 1 and 0 for some variables
x_test['travelled_more_than_15mins_for_offer'] = pd.to_numeric(x_test['travelled_more_than_15mins_for_offer'])
x_test['Prefer western over chinese'] = pd.to_numeric(x_test['Prefer western over chinese'])
x_test['travelled_more_than_25mins_for_offer'] = pd.to_numeric(x_test['travelled_more_than_25mins_for_offer'])
x_test['travelled_more_than_5mins_for_offer'] = pd.to_numeric(x_test['travelled_more_than_5mins_for_offer'])
x_test['restuarant_same_direction_house'] = pd.to_numeric(x_test['restuarant_same_direction_house'])
x_test['Cooks regularly'] = pd.to_numeric(x_test['Cooks regularly'])
x_test['is foodie'] = pd.to_numeric(x_test['is foodie'])
x_test['restuarant_opposite_direction_house'] = pd.to_numeric(x_test['restuarant_opposite_direction_house'])
x_test['has Children'] = pd.to_numeric(x_test['has Children'])
x_test['visit restaurant with rating (avg)'] = pd.to_numeric(x_test['visit restaurant with rating (avg)'])
x_test['temperature'] = pd.to_numeric(x_test['temperature'])
x_test['Travel Time'] = pd.to_numeric(x_test['Travel Time'])
x_test['Prefer home food'] = pd.to_numeric(x_test['Prefer home food'])

In [9]:
#getting names of categorical variables
s = (x_train.dtypes == 'object')
object_cols = list(s[s].index)
print("Categorical variables:")
print(object_cols)

Categorical variables:
['offer expiration', 'income_range', 'no_visited_Cold drinks', 'Restaur_spend_less_than20', 'Marital Status', 'restaurant type', 'age', 'no_visited_bars', 'gender', 'Customer type', 'Qualification', 'no_Take-aways', 'Job/Job Industry', 'Restaur_spend_greater_than20', 'Climate', 'drop location']

In [10]:
#label encoding categorical variables
#from sklearn.preprocessing import LabelEncoder
#for i in object_cols:
    #x_train[i] = LabelEncoder().fit_transform(x_train[i])
x_train=pd.get_dummies(x_train)

In [11]:
#for i in object_cols:
    #x_test[i] = LabelEncoder().fit_transform(x_test[i])
x_test=pd.get_dummies(x_test)

In [12]:
x_test

,travelled_more_than_15mins_for_offer,Prefer western over chinese,travelled_more_than_25mins_for_offer,travelled_more_than_5mins_for_offer,restuarant_same_direction_house,Cooks regularly,is foodie,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),...,Restaur_spend_greater_than20_4~8,Restaur_spend_greater_than20_gt8,Restaur_spend_greater_than20_less1,Restaur_spend_greater_than20_never,Climate_Spring,Climate_Summer,Climate_Winter,drop location_Location A,drop location_Location B,drop location_Location C
0,1,0,1,1,0,0,0,1,1,4,...,0,0,1,0,0,1,0,0,0,1
1,0,1,0,1,0,0,1,1,1,0,...,0,0,1,0,0,1,0,1,0,0
2,1,1,0,1,0,1,0,1,0,4,...,0,0,0,1,0,1,0,0,0,1
3,1,0,0,1,0,0,1,1,1,0,...,0,0,1,0,1,0,0,0,0,1
4,0,1,0,1,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5300,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
5301,0,0,0,1,1,1,1,0,0,3,...,0,0,0,0,0,1,0,0,1,0
5302,1,0,0,1,0,1,1,1,1,2,...,0,0,0,0,0,1,0,0,0,1
5303,1,1,0,1,0,1,0,1,1,3,...,0,0,0,0,0,1,0,1,0,0
5304,0,1,0,1,0,1,0,1,1,4,...,0,0,0,0,0,0,1,1,0,0

In [13]:
x_train

,travelled_more_than_15mins_for_offer,Prefer western over chinese,travelled_more_than_25mins_for_offer,travelled_more_than_5mins_for_offer,restuarant_same_direction_house,Cooks regularly,is foodie,restuarant_opposite_direction_house,has Children,visit restaurant with rating (avg),...,Restaur_spend_greater_than20_4~8,Restaur_spend_greater_than20_gt8,Restaur_spend_greater_than20_less1,Restaur_spend_greater_than20_never,Climate_Spring,Climate_Summer,Climate_Winter,drop location_Location A,drop location_Location B,drop location_Location C
0,1,0,0,1,0,1,0,0,0,4,...,0,0,1,0,1,0,0,0,1,0
1,0,0,0,1,1,1,0,0,1,3,...,0,0,0,0,0,1,0,0,1,0
2,1,1,0,1,1,0,1,1,1,4,...,0,0,1,0,0,0,1,1,0,0
3,0,1,0,1,1,0,1,0,1,3,...,0,0,0,0,0,1,0,0,0,1
4,1,0,1,1,0,0,1,1,0,3,...,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12374,1,0,0,1,0,0,1,1,1,1,...,0,0,0,1,0,1,0,0,1,0
12375,0,0,0,1,0,0,1,1,1,2,...,0,0,0,1,0,1,0,0,1,0
12376,1,0,1,1,0,1,1,1,0,2,...,0,1,0,0,1,0,0,0,1,0
12377,1,0,0,1,0,1,0,1,0,1,...,0,0,1,0,0,1,0,0,0,1
12378,1,1,0,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,1,0,0

# Random Forest Classifier

In [14]:
def train_classifiers(estimator, X_train, y_train, cv, name):
    estimator.fit(X_train, y_train)
    cv_train_score = cross_val_score(
        estimator, X_train, y_train, cv=cv, scoring='f1_macro')

    print(
        f'On an average, {name} model has f1 score of 'f'{cv_train_score.mean():.3f} (+/-) {cv_train_score.std():.3f} on the training set')

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import ShuffleSplit
from sklearn.pipeline import Pipeline
cv = ShuffleSplit(n_splits=10,test_size=0.2, random_state=42)
rf_pipeline = Pipeline([('classifier', RandomForestClassifier())]) 
train_classifiers(rf_pipeline,x_train, y_train, cv, 'random forest')
y_rf_pred = rf_pipeline.predict(x_test)

On an average, random forest model has f1 score of 0.596 (+/-) 0.010 on the training set

In [16]:
y_rf_pred = pd.DataFrame(y_rf_pred)
y_rf_pred = y_rf_pred.replace(to_replace = [1,0],value = ['Yes','No'])

In [17]:
ids=np.arange(0,5305)
y_rf_pred=y_rf_pred[0].to_numpy()

In [18]:
y_rf_pred

array(['Yes', 'Yes', 'No', ..., 'Yes', 'Yes', 'Yes'], dtype=object)

In [19]:
np.savetxt(
    'submission.csv',
    np.rec.fromarrays([ids, y_rf_pred]),
    fmt=['%d', '%s'],
    delimiter=',',
    header='id,Offer Accepted',
    comments='',
)

# KNN
gives lower score

In [20]:
'''from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import make_pipeline
pipe_knn = make_pipeline(MinMaxScaler(),
                         KNeighborsClassifier(n_neighbors=1))
grid_k = {'kneighborsclassifier__n_neighbors': [1, 3, 5, 7, 9]}

cv = GridSearchCV(pipe_knn, param_grid=grid_k, scoring='precision', cv=5,n_jobs=1)
cv.fit(x_train, y_train)
print(cv)'''

"from sklearn.neighbors import KNeighborsClassifier\nfrom sklearn.model_selection import GridSearchCV\nfrom sklearn.preprocessing import MinMaxScaler\nfrom sklearn.pipeline import make_pipeline\npipe_knn = make_pipeline(MinMaxScaler(),\n                         KNeighborsClassifier(n_neighbors=1))\ngrid_k = {'kneighborsclassifier__n_neighbors': [1, 3, 5, 7, 9]}\n\ncv = GridSearchCV(pipe_knn, param_grid=grid_k, scoring='precision', cv=5,n_jobs=1)\ncv.fit(x_train, y_train)\nprint(cv)"

In [21]:
'''print(cv.cv_results_)'''

'print(cv.cv_results_)'

In [22]:
'''#best result for k=9
pipe_knn = make_pipeline(MinMaxScaler(),KNeighborsClassifier(n_neighbors=9))
pipe_knn.fit(x_train,y_train)'''

'#best result for k=9\npipe_knn = make_pipeline(MinMaxScaler(),KNeighborsClassifier(n_neighbors=9))\npipe_knn.fit(x_train,y_train)'

In [23]:
'''y_k_pred = pipe_knn.predict(x_test)'''

'y_k_pred = pipe_knn.predict(x_test)'

In [24]:
'''y_k_pred = pd.DataFrame(y_k_pred)
y_k_pred = y_k_pred.replace(to_replace = [1,0],value = ['Yes','No'])
y_k_pred=y_k_pred[0].to_numpy()'''

"y_k_pred = pd.DataFrame(y_k_pred)\ny_k_pred = y_k_pred.replace(to_replace = [1,0],value = ['Yes','No'])\ny_k_pred=y_k_pred[0].to_numpy()"

In [25]:
'''np.savetxt(
    'submissionalt.csv',
    np.rec.fromarrays([ids, y_k_pred]),
    fmt=['%d', '%s'],
    delimiter=',',
    header='id,Offer Accepted',
    comments='',
)'''

"np.savetxt(\n    'submissionalt.csv',\n    np.rec.fromarrays([ids, y_k_pred]),\n    fmt=['%d', '%s'],\n    delimiter=',',\n    header='id,Offer Accepted',\n    comments='',\n)"